<html>

      <head>
        <title>Happy News</title>
        <h3 class="ui right center aligned header">
        Please donate
            <button class="ui large animated button">
                <Link to='//google.com'>
                <div class="visible content">
                <i class="large balance scale icon"></i>
              </div>
              <div class="hidden content">
                <img class="ui large image" src="https://img.cinemablend.com/filter:scale/cb/e/6/b/6/c/2/e6b6c2993916958e11ccbf8c673176802dd4e3914a16f80e0f939e49f767737b.jpg?fw=1200" >
              </div>
            </button>

        </h3>

        <br><br>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      </head>
      <body>
        <div class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
              <div class="center aligned row">
                <div class="column">
                  <h3>"What a Company"</h3>
                    <a class="ui huge button"><img src="https://m.files.bbci.co.uk/modules/bbc-morph-news-waf-page-meta/5.1.0/bbc_news_logo.png" class="ui medium image"></a>
                    <p>There are {{bbc.Total}} distinct BBC articles</p>
                    <p>The average happiness score is {{bbc.Average}}</p>

                </div>
                <div class="column">
                  <h3>"I shouldn't have gone with their competitor."</h3>

                      <a class="ui huge button"><img src="https://jobs.theguardian.com/getasset/14928961-45c2-4f50-9d05-c150248727e7/"  class="ui medium image" ></a>
                      <p>There are {{guardian.Total}} distinct Guardian articles</p>
                      <p>The average happiness score is {{guardian.Average}}</p>


                </div>
              </div>

            </div>
          </div>



      </body>

<html>
