<html>
<div class="ui banner test ad" data-text="Banner"></div>

      <head>
        <title>Welcome</title>
        <h1>Please donate</h1>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      </head>
      <body>
          <div class = "ui container">
            <img class="ui medium image" src="https://img.cinemablend.com/filter:scale/cb/e/6/b/6/c/2/e6b6c2993916958e11ccbf8c673176802dd4e3914a16f80e0f939e49f767737b.jpg?fw=1200" ><img class="ui medium image" src="https://img.cinemablend.com/filter:scale/cb/e/6/b/6/c/2/e6b6c2993916958e11ccbf8c673176802dd4e3914a16f80e0f939e49f767737b.jpg?fw=1200" >

          </div>

      </body>

<html>
