<html>

      <head>
        <title>Happy News</title>
        <h3 class="ui right center aligned header">
        Please donate
            <button class="ui large animated button" >
                <div class="visible content">
                <i class="large balance scale icon"></i>
              </div>
              <div class="hidden content">
                <p style="font-size:10px">Jacob needs to eat </p>
              </div>
            </button>

        </h3>

        <br><br>
        <link rel="stylesheet" type ="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      </head>
      <body>
        <div class="ui vertical stripe quote segment">
            <div   class="ui equal width stackable internally celled grid">
              <div class="center aligned row">
                <div class="column">
                  <h3>"We love fear!</h3>
                    <a class="ui huge button" href ="/repository"><img src="https://m.files.bbci.co.uk/modules/bbc-morph-news-waf-page-meta/5.1.0/bbc_news_logo.png" class="ui medium image"></a>
                    <br><br>
                    <a class="ui red tag label">
                      <img class="ui right spaced avatar image" src="https://images.theconversation.com/files/168390/original/file-20170508-5468-15e9j0c.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip">
                      There are {{bbc.Total}} distinct BBC articles
                    </a>
                    <br><br>
                    <a class="ui red tag label">
                      <img class="ui right spaced avatar image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Rlr3CPQFlLr8VrkzFspDgmwtWWcxwB5ZKA&usqp=CAU">
                      The average happiness score is {{bbc.Average}}
                    </a>

                </div>
                <div class="column">
                  <h3>"Keep the tragic news coming!"</h3>

                      <a class="ui huge button" href ="/repository"><img src="https://jobs.theguardian.com/getasset/14928961-45c2-4f50-9d05-c150248727e7/"  class="ui medium image" ></a>
                      <br><br>
                      <a class="ui teal tag label">
                        <img class="ui right spaced avatar image" src="https://images.theconversation.com/files/168390/original/file-20170508-5468-15e9j0c.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip">
                        There are {{guardian.Total}} distinct Guardian articles
                      </a>
                      <br><br>
                      <a class="ui teal tag label">
                        <img class="ui right spaced avatar image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Rlr3CPQFlLr8VrkzFspDgmwtWWcxwB5ZKA&usqp=CAU">
                        The average happiness score is {{guardian.Average}}
                      </a>


                </div>
              </div>

            </div>
          </div>
          <br><br><br><br><br><br>
          <div class="ui center aligned container">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO2XuHwbzb1A9ssPAEP95YC6DYw7RI_WQoTQ&usqp=CAU" class="ui centered mini image">


      </body>
<html>
