<html>
      <head>
        <title>News</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      </head>
      <body>

          <div class = "ui container">
            <h1>News List</h1>
            <table class="ui  striped  table">
                <tr>
                  <thead>
                    <th>Id</th>
                    <th>News</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Links</th>

                    </thead>
                </tr>
              <tbody>
                {% for new in news %}
                <tr>
                  <td>{{new.Id}}</td>
                  <td>{{new.News}}</td>
                  <td>{{new.Date}}</td>
                  <td><a href ="/Text/{{ new.id }}">{{new.title}}<a></td>
                  <td>{{new.link}}</td>
                </tr>
                {% endfor %}

            </tbody>

          </table>
          </div>
      </body>

<html>
