{% extends "layout.html" %}


    {% block content %}
    <div class="ui top  fixed inverted menu">
      <div class="ui massive breadcrumb">
        <a class="section" href="/" style="color:white" >Home</a>
        <i class="right angle icon divider" style="color:white"></i>
        <a class="section" href="/repository" style="color:white">Repository</a>
        <i class="right angle icon divider" style="color:white"></i>
        <div class="active section" style="color:white" >{{news.Id}}</div>
      </div>
    </div>
    <br><br><br>

  <div class="ui compact  main menu" >
    <div class="center aligned column">

    <div class="header item">
      {{news.Title}}
      </div>


      </div>

    <div class="ui  text container">


        <div  class="header item"> This text is {{polarity.Length}} characters long</div>
        <div  class="header item"> This text is measured at {{polarity.Polarity}} happiness</div>
    </div>

  </div>


<br><br>
  <div class="ui text container">
      <p>{{news.Text}}</p>
    </div>

{% endblock %}
